name: Deploy to AWS

on:
  push:
    branches:
      - main  # Or 'master', depending on your branch name

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          script: |
            # 1. Go to the bot folder
            cd /home/ubuntu/arcane-alchemist
            
            # 2. Pull the latest code
            git pull origin main
            
            # 3. Install any new libraries (just in case)
            npm install
            
            # 4. Restart the bot
            pm2 restart all
